{% extends 'pollsapp/base.html' %}
{% block content %}
<div class="container">
    <h4>انتخاب کنید</h4>
    <ul class="list-group">

    <li class="list-group-item list-group-item-info">{{question.question}}</li>
<form method="POST" action="{% url 'pollsapp:result' question.id%}">
{% csrf_token %}

    

<li class="list-group"> {% for option in options %}
    <li class="list-group-item list-group-item-action">
    <lible>
<input type="radio" name="choice" value="{{option.id}}">
{{option.option}}

    </lible>
    
</li>
{% endfor %}
</li>


<input type="submit" value="submit" class="btn btn-outline-primary">

</form>
</ul>
</div>
{% endblock %}